@model LamdaForums.Models.ForumViewModels.ForumTopicModel

@{
    ViewData["Title"] = "Topic";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Lambda Forums</h1>

<div>
    <h4>@Model.Forum.Name</h4>
    <hr />
</div>

    
        @if(Model.Posts.Any())
        {
            <table class="table table-bordered table-hover ">
                <tbody>

                    @foreach(var post in Model.Posts)
                    {
                        <tr>
                            <td>post.Title</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        else
        {
            <div>
                <h3>
                    Looks like there are no posts relating to @Model.Forum.Name .
                    Would you like to
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">
                        <span> create </span>   
                    </a>
                    a new post?
                </h3> 
            </div>
        }

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
